*{
	padding: 0;
	margin: 0;
}
/*img{
	max-width: 100%;
    height: auto;
}*/

#TAN{
	font-size: 80px;
    line-height: 52px;
    color: #016087;
	text-align: center;
	font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
	flex: 60%;
	padding: 165 0 0 0;
}
#background_container{
	display: flex;
	flex-wrap: nowrap;
}
#background_img{
	flex: 40%;
	opacity: 0.5;
	width: 40%;
}

#chuthich{
	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #23354b;
}
nav{
	background-color:white;
	overflow: hidden;
}
nav a{
	color: #D52C82;
	padding: 14px 20px;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: white;
	float: right;
	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	font-size: 13px;
	width: 5%;
}
nav a:hover{
	background-color: white;
	color: #547b8c;
}
#chiabocucchinh{
	display: flex;
	flex-wrap: wrap;
}
#profile1_doanloi{
	/*padding: 250 500 250 250;*/
	background-color: #23354B;
	flex:100%;
}
#doanloi_title{
	text-align: center;
	font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
	color: white;
	padding: 50 0 0 0;
}
#doanloi_avatar{
	width: 30%;
	padding: 20 0 10 10;
}
#profile2_vietha{
	/*padding: 250 500 250 250;*/
	background-color: #000000;
	flex:100%;
}
#vietha_title{
	text-align: center;
	font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
	color: white;
	padding: 50 0 0 0;
}
#vietha_avatar{
	width: 30%;
	padding: 20 10 10 0;
	float: right;
}
#profile3_bathao{
	/*padding: 250 500 250 250;*/
	background-color: #23354B;
	flex:100%;
}
#bathao_title{
	text-align: center;
	font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
	color: white;
	padding: 50 0 0 0;
	flex:100%;
}
#bathao_avatar{
	width: 30%;
	padding: 20 0 10 10;
	float: left;
}









@media(max-width: 800px){
	

}
